.contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 140px;
    gap: 10px; /* Отступ между контактами и таблицей часов работы */
    margin-bottom: 35px;
  }
  .title{
    text-align: center;
  }
  .contactInfoContainer {
    flex: 1;
  }
  
  .contactList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contactItem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .contactItem span {
    font-weight: bold;
  }
  
  .icon {
    width: 20px;
    height: 20px;
  }
  
  .socialLinks {
    margin-top: 10px;
  }
  
  .workingHours {
    flex: 1;
  }
  
  .hoursTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .hoursTable th, .hoursTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .hoursTable th {
    background-color: #333;
    color: #fff;
  }
  
  .hoursTable td {
    color: #333;
  }
  