/* Основные стили */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box; /* Упрощает управление размерами элементов */
}

/* Header */
header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header nav p {
    color: #f5f5f5;
    text-align: right;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/* Hero Section */
.hero {
    padding: 20px 0;
    background: linear-gradient(to right, #434343, #000000);
    background-size: cover;
    color: #f5f5f5;
    text-align: center;
    height: 20vh;
    font-size: 24px;
}

/* Main Content */
main {
    margin: 0;
    padding: 0;
}

.textContainer {
    margin: 0 160px;
    max-width: 1600px;
    width: 100%;
}

.textContainer p {
    text-align: justify;
    line-height: 1.6;
}

/* Services Section */
.services h2 {
    text-align: center;
}

.services ul {
    list-style: none;
    padding: 0;
}

/* Footer */
footer {
    background: linear-gradient(to right, #434343, #000000);
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Consult Section */
.consult {
    text-align: center;
}

/* BigLexa Section */

/* Horizontal Rule */
hr {
    margin: 50px auto;
    border: none;
    border-top: 2px solid #000;
    width: 80%;
}

/* Адаптивность */
@media (max-width: 768px) {
    .hero {
        height: auto;
        font-size: 20px;
        padding: 20px;
    }

    .textContainer {
        padding: 0 10px;
    }

    .bigLexa {
        gap: 10px;
    }

    .imageContainer img {
        max-width: 90%;
    }

    hr {
        width: 90%;
    }
}

@media (max-width: 480px) {
    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .hero {
        font-size: 18px;
        padding: 15px;
    }

    .textLexa {
        text-align: center;
    }

    footer {
        padding: 10px 5px;
        font-size: 14px;
    }
}
