/* Основные стили */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(to right, #434343, #000000);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.logoLink {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logoLink:hover {
  color: #ff7e5f;
}

.burgerButton {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.8em;
  z-index: 1100;
}

/* Навигация */
.nav {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navLink {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
  font-size: 1.1em;
}

.navLink:hover {
  color: #ff7e5f;
  border-radius: 5px;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.menuButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.menuButton:hover {
  color: #ff7e5f;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 10px;
}

.dropdown:hover .dropdownMenu {
  display: flex;
  flex-direction: column;
}

.dropdownItem {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.dropdownItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

/* Контактная информация */
.contactInfo {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.phone, .email, .social-icon {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.phone:hover, .email:hover, .social-icon:hover {
  color: #ff7e5f;
}

/* Адаптивность */
@media (max-width: 768px) {
  .burgerButton {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    background-color: #000;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
  }

  .navActive {
    display: flex;
  }

  .navList {
    flex-direction: column;
    gap: 10px;
  }

  .navLink {
    padding: 15px;
    font-size: 1em;
  }

  .dropdownMenu {
    position: static;
    background-color: #333;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.2em;
  }

  .contactInfo {
    font-size: 0.9em;
    align-items: flex-start;
  }

  .phone, .email, .social-icon {
    font-size: 0.8em;
  }
}
