.servicesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две колонки по умолчанию */
  gap: 50px; /* Расстояние между карточками */
  justify-items: center; /* Центрирование карточек */
  margin-top: 20px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; /* Отступы по бокам */
}

.card {
  width: 100%;
  max-width: 1200px; /* Уменьшение ширины карточек */
  padding: 0 10px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #333;
  text-decoration: none;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card:hover {
  background: linear-gradient(135deg, #556d72, #59575a);
  color: #ffffff;
  transform: scale(1.05);
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.cardContent {
  position: relative;
  z-index: 2;
}

.card h3 {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.card p {
  font-size: 0.9em;
  color: inherit;
}

/* Адаптивное поведение */
@media (max-width: 1024px) {
  .servicesContainer {
    grid-template-columns: repeat(2, 1fr); /* Две колонки на средних экранах */
    gap: 20px;
  }

  .card {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .servicesContainer {
    grid-template-columns: repeat(1, 1fr); /* Одна колонка на узких экранах */
    gap: 15px;
  }

  .card h3 {
    font-size: 1em;
  }

  .card p {
    font-size: 0.85em;
  }
}

@media (max-width: 480px) {
  .servicesContainer {
    grid-template-columns: 1fr; /* Одна колонка на узких экранах */
  }

  .card {
    max-width: 100%; /* Использование всей ширины экрана */
    padding: 10px; /* Компактные отступы */
  }

  .card h3 {
    font-size: 1em;
  }

  .card p {
    font-size: 0.8em; /* Минимальный размер текста */
  }
}
