/* Service.module.css */

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Три колонки */
  gap: 20px; /* Расстояние между карточками */
  justify-items: center; /* Центрирование карточек по горизонтали */
  margin-top: 20px;
  max-width: 1450px; /* Максимальная ширина контейнера */
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 95%;
  max-width: 700px; /* Максимальная ширина каждой карточки */
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #333;
  text-decoration: none;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card:hover {
  background: linear-gradient(135deg, #556d72, #59575a);
  color: #ffffff;
  transform: scale(1.05);
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.cardContent {
  position: relative;
  z-index: 2;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.card p {
  font-size: 14px;
  color: inherit;
}

/* Адаптивное поведение */
@media (max-width: 1024px) {
  .servicesContainer {
    grid-template-columns: repeat(2, 1fr); /* Две колонки на экранах среднего размера */
  }
}

@media (max-width: 600px) {
  .servicesContainer {
    grid-template-columns: 1fr; /* Одна колонка на мобильных устройствах */
  }
}
